*{
    margin:0;
    padding:0;
    text-align: center;
    font-size: 1.1rem;
}
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
}
#break-label, #session-label,#timer, #controls, h1{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#break-label p, #session-label p{
    width: 150px;
}
#timer{
    flex-direction: column;
    border:2px black solid;
    border-radius: 20px;
    width: 30%;
    padding: 5%;
}
.incDec{
    display: flex;
    width: 100px;
    justify-content: space-between;
}
button{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}
#start_stop{
    width: 50px;
}
h1{
    font-size: larger;
}
.App{
    border-radius: 5px;
    box-shadow: 0 0 30px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(208, 208, 208);
    width: 30%;
    height: 50%;
}
@media screen and (max-width:700px) {
    .App{
        width: 80%;
    }
    
}
